{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% load add_func %}
{% block title %} {% trans 'Start searching for people' %} {% endblock %}

{% block content %}
{% now 'Y-m-d' as today %}
    <div class="container-fluid page-background-main">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row  m-3">
            <div class="col-8">
                <div id="suggestions" class="card" aria-hidden="true">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col" aria-hidden="true">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            {% trans 'What can you do here?' %}
                        </h6>
                        <div class="list-group">
                            <a href="/start/add/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">{% trans 'Organize a trip and invite your friends.' %}</a>
                            <a href="/groups/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">{% trans 'Share your adventure stories.' %}</a>
                            <a href="/health/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning">{% trans 'Collect and analyze your helath data.' %}</a>
                            <a href="/inbox/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-danger">{% trans 'Meet other outdoor enthusiasts.' %}</a>
                            <a href="/shop/" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">{% trans 'Sell and buy outdoor clothes and equipment.' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
