{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% load add_func %}
{% block title %}{% trans 'Start searching for people' %} {% endblock %}

{% block content %}
{% now 'Y-m-d' as today %}
    <div class="page-background-main">
        <div class="container">
            <div class="row mt-5">
                <div class="col col-lg-7">

                </div>
                <div class="col col-lg-5">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <div id="suggestions">
                <h5>Be aware of one thing:<br></h5>
                you are testing very early product which in many cases do not work properly.<br>
                We've been working very hard to make it usable and nice ;)
            </div>

            <div>
                {% for trip in data.trips %}

                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
