{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% load add_func %}
{% block title %}{% trans 'Start searching for people' %} {% endblock %}

{% block content %}
{% now 'Ymd' as today %}
    <div class="page-background-main">
        <div class="container">
            <div class="row mt-5">
                <div class="col col-lg-7">

                </div>
                <div class="col col-lg-5">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <div id="suggestions" class="col">

            </div>
            <div class="col">
                Where I am?
            </div>
            <div class="col">
                    {% for trip in data.trips %}
                    <div id="trip{{ trip.id }}" class="row border border-dark rounded"


                        {% if trip.cover.url %}
                            style="background-image: url({{ trip.cover.url }}); background-size: cover; background-position: center center;"
                        {% else %}

                        {% endif %}>
                        <div class="row">
                            <div class="col-auto">{% show_avatar trip.user.id %}</div>
                            <div class="col-auto">
                                <a class="badge bg-light text-dark" href="/start/trip/{{ trip.id }}">{{ trip.title }}</a><br>
                                <a class="badge bg-dark" href="/start/q/?what={{ trip.basePlace }}"> {{ trip.basePlace }} </a>
                                <a class="badge bg-light text-dark" href="/start/q/?what={{ trip.mountainName }}"> {{ trip.mountainName }} </a><br>
                                <p class="badge text-wrap bg-primary">{{ trip.startDate }}
                                {% if trip.endDate != None %}
                                    - {{ trip.endDate }}
                                {% endif %}
                                </p>


                            </div>
                        </div>
                    </div>
                        <br>
                    {% endfor %}
            </div>

        </div>
    </div>
    <script>
    const field = document.getElementById('id_what');
    const ac = new Autocomplete(field, {
        data: [{label: "I'm a label", value: 42}],
        maximumItems: 5,
            onSelectItem: ({label, value}) => {
                console.log("user selected:", label, value);
            }
    });


    </script>
    <!-- first react.js script without node nor jsx -->
    <script src="{% static 'js/reactjs/ui.js' %}"></script>
{% endblock %}
