{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row mt-5 justify-content-center">
    {% if data.just_added == 1 %}
        <div class="alert alert-success" role="alert">{% trans "You've just added a new trip." %}</div>
    {% elif data.notrip == 1 %}
         <div class="alert alert-danger" role="alert">{% trans "Trip does not exist." %}</div>
    {% endif %}
    </div>
{% if data.notrip != 1 %}
    <div class="row align-items-start">
        <div class="col col-sm-5">
            <img src="{{ data.url }}" class="img-fluid rounded" /><br>
            <a href="" class="btn btn-primary btn-sm mt-2">{% trans "Join" %}
            <span class="badge badge-light">{{ data.joined }}</span>
            </a>
        </div>
        <div class="col w-100 mt-3">
            <h1 class="display-4">{{ data.title }}</h1><br>
            <p class="lead">{{ data.description }}</p><br>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">

    </div>
{% endif %}
</div>


{% endblock %}