{% extends 'main.html' %}
{% load i18n %}
{% load add_func %}
{% block title %}
    {{ data.title }}
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}


{% block content %}
<style>
  #map {
    height: 250px;  /* The height is 250 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
</style>


<div class="container">
    <div class="d-flex mt-5 justify-content-center" style="margin-top: 72px;">
    {% if data.just_added == 1 %}
        <div class="alert alert-success" role="alert">{% trans "You've just added a new trip." %}</div>
    {% elif data.notrip == 1 %}
         <div class="alert alert-danger" role="alert">{% trans "Trip does not exist." %}</div>
    {% endif %}
    </div>
{% if data.notrip != 1 %}

    <div class="row align-items-start">
        <div class="col-5">

            <img src="{{ data.url }}" class="img-fluid rounded" /><br>
            <div class="row">
                <div class="col-auto">
                    <a href="#" onclick="jointrip({{ data.id }});" id="join_trip_button" class="btn btn-sm mt-2
                    {% if data.user_joined %}
                       btn-secondary disabled
                    {% else %}
                       btn-primary
                    {% endif %}"
                    >{% trans "Join" %}
                    <span class="badge bg-light text-dark" id="trip_joined">{{ data.joined }}</span>
                    </a>    
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{% trans "Invite" %}</button>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm mt-2">
                        <option>{% trans '' %}</option>
                        <option>{% trans 'Done' %}</option>
                        <option>{% trans 'Cancelled' %}</option>
                    </select>
                </div>
            </div>

            

        </div>
        <div class="col mt-3">
            <h1 class="leader">
                {% show_avatar_small data.trip_user %}
                {{ data.title }}    
            </h1>
            <small class="badge bg-dark"><b>{{ data.startDate }}
            {% if data.endDate %}
                - {{ data.endDate }}
            {% endif %}
            </b></small>
            <div class="card mt-3">
                <div class="card-body">{{ data.description }}</div>
            </div>
        </div>
    </div>
    <div class="row mt-5">


        <div class="col col-sm-5">
            <div class="mb-3">
                {% for user in data.joined_users %}
                    {% show_avatar_small user.user %}
                {% endfor %}
            </div>
            <div id="map"></div>
        </div>
        <div class="col col-sm-7">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex">
                    <input type="hidden" id="id_trip" name="trip" value="{{ data.id }}" />
                    <input type="hidden" id="id_profile_id" name="profile_id" value="0" />
                    <textarea class="form-control form-control-sm" id="id_text" name="text" required></textarea>
                    <div class="flex-fill p-2"><button type="submit" class="btn btn-primary">{% trans 'Post' %}</button></div>
                </div>
            </form>
            <div class="d-flex flex-column list-group mt-5">
                <div id="trip_posts">
                {% for post in data.posts %}
                    <div class="list-group-item list-group-item-light d-flex justify-content-between align-items-center" id="post{{ post.id }}">
                        <span>
                            {%  show_avatar_small post.user.id %}
                            <small>{{ post.text|text_to_link|safe }}</small>
                        </span>
                        <span>

                        </span>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="staticBackdropLabel">{% trans 'Invite your friends ' %}</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input class="form-control" type="text" id="user_autocomplete" name="user" />
                </div>


                <div class="text-center"><button type="submit" class="btn btn-primary btn-sm">{% trans 'Send' %}</button></div>

            </form>
          </div>
        </div>
      </div>
    </div>

    
    <script type="text/javascript">
    let map;
    let lat_b = {{ data.basePlace.lat }}
    let lng_b = {{ data.basePlace.lng }}
    let lat_m = {{ data.mountainName.lat }}
    let lng_m = {{ data.mountainName.lng }}

    function initMap() {
        var b_place = {
            lat: lat_b, 
            lng: lng_b
        };
        var m_name  = {
            lat: lat_m, 
            lng: lng_m
        };
        var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 7, center: b_place});
        var miejsce = new google.maps.Marker({position: b_place, map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            title: "{{ data.basePlace.name }}"});
        var gora    = new google.maps.Marker({position: m_name, map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            title: "{{ data.mountainName.name }}"});
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ data.gmaps_key }}&language=en&callback=initMap"></script>
    



{% endif %}
</div>



{% endblock %}