
[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
pip = "20.1.1"
sentry-sdk = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
stravalib = "*"
facebook-sdk = "*"
psycopg2-binary = "*"
django-countries = "*"
Pillow = "*"
django_cron = "*"
django-widget-tweaks = "*"
cryptography = "*"
pyOpenSSL = "*"


#upload files
boto3 = "*"
django-storages = "*"

#experimental features
tensorflow = "*"
djangorestframework = "*"


[requires]

python_version = "3.8"
