[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
sentry-sdk = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"

#SDK

stravalib = "*"
facebook-sdk = "*"
googlemaps = "*"

psycopg2-binary = "*"
django-countries = "*"
Pillow = "*"
django_cron = "*"
django-widget-tweaks = "*"
django-birthday = "*"

cryptography = "*"


#upload files
boto3 = "*"
django-storages = "*"

#experimental features
djangorestframework = "*"
bokeh = "*"

[requires]

python_version = "3.9"
