[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
sentry-sdk = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"
django-allauth = "*"

# SDK
stravalib = "*"
facebook-sdk = "*"
googlemaps = "*"

# Important packages
psycopg2-binary = "*"
django-countries = "*"
djangorestframework-api-key = "*"
Pillow = "*"
# django_cron = "*"
django-widget-tweaks = "*"
bokeh = "*"
cryptography = "*"
urlextract = "*"    

# upload files
boto3 = "*"
django-storages = "*"
django-s3file = "*"

# experimental features
djangorestframework = "*"
# framework too big for my app :D
# tensorflow-cpu = "*"

[requires]

python_version = "3.10"
