django_countries
Django
django_storages
django-sendgrid-v5
django-s3file
django-allauth
djangorestframework
django-cors-headers
django_widget_tweaks
djangorestframework-api-key
Pillow
boto3
beautifulsoup4
urlextract
django-model-utils

# Research
bokeh   # activities research
# tensorflow-macos==2.15.0
numpy
cryptography
requests

# SDK
stripe
stravalib
googlemaps
facebook-sdk
sentry_sdk
