{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% blocktrans %}Inbox - Mountain Grip{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px;">
{% if data.info %}
    <div class="d-flex justify-content-center"><div class="alert alert-danger">{{ data.info }}</div></div>
{% else %}
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" ><button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{% trans 'New message' %}</button>
       <a href="/inbox" class="btn btn-outline-primary btn-sm">{% trans 'Inbox' %}</a>
        <a href="/inbox/sent" class="btn btn-outline-primary btn-sm">{% trans 'Sent' %}</a></div>
    </div>
    {% if data.nonew %}
        <div class="d-flex justify-content-center mt-5"><div class="alert alert-dark">{{ data.nonew }}</div></div>
    {% endif %}

    <!-- INBOX -->
    {% block inbox %}
    {% endblock %}
    <!-- END INBOX BLOCK -->

    <!-- Inviting people modal  -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="staticBackdropLabel">{% trans 'New message' %}</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input class="form-control" type="text" id="id_from" name="from" required />
                    <input type="hidden" id="id_to" name="to" value="0" />
                    <input type="hidden" id="id_conversation" name="conversation" value="0" />
                </div>
                <div class="mb-2">
                    <input class="form-control" type="text" id="id_title" name="title" placeholder="{% trans 'Title' %}" />
                </div>
                <div class="mb-2">
                    <textarea class="form-control" id="id_text" name="text" placeholder="{% trans 'Type your message' %}" style="height: 150px;" required></textarea>
                </div>
                <div class="mb-2">
                    <input type="file" class="form-control" id="id_pic" name="pic" multiple />
                </div>
                <div class="text-center mt-3"><button type="submit" class="btn btn-primary btn-sm">{% trans 'Send' %}</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endif %}
</div>
<script type="text/javascript">
    $('#id_from').autocomplete({
        serviceUrl: '/api/autocomplete/inbox',
        dataType: 'json',
        minChar: 3,
        onSelect: function (suggestion) {
            $('#id_to').val(suggestion.data)
        }
    });
</script>
{% endblock %}