{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="DMM_zW6qS2l4D4lCYyH1D7umgBXloekdaFVJAy2nbCw" />
    <title>{% block title %} {% endblock %}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mg.css' %}" />
</head>
<body data-gr-c-s-loaded="true">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent navbar-dark bg-dark">
            <div class="container">

                    <a href="/" class="navbar-brand mt-5" style="position: absolute;">
                        <img src="{% static 'img/MG.png' %}"  class="img-responsive" style="width: 90px; overflow: hidden; height: auto;" />
                    </a>
                    <div style="width: 105px"></div>

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav mr-auto">
                            {% if not user.is_authenticated %}
                              <li class="nav-item">
                                <a class="btn btn-outline-primary" href="/accounts/signup/">{% trans "Sign up" %}</a>
                              </li>
                            {% else %}
                               <li class="nav-item">
                                <a class="nav-link" href="/start/profile/">{%  trans "Profile" %}</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {% trans "Your trips" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/start/add/">{% trans "Add a trip" %}</a>
                                  <a class="dropdown-item" href="">{% trans "Explore" %}</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">{% trans "Past activities" %}</a>
                                </div>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {% trans "Messages" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="">{% trans "New message" %}</a>
                                  <a class="dropdown-item" href="">{% trans "Inbox" %}</a>
                                </div>
                              </li>
                            {% endif %}
                        </ul>
                          {% if user.is_authenticated %}
                              {% csrf_token %}
                            <form class="form-inline my-2 my-lg-0" method="get" action="/start/q/">
                                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">{% trans "Search" %}</button>
                            </form>
                            <a class="btn btn-outline-secondary btn-sm ml-2" href="/accounts/logout">{% trans "Logout" %}</a>
                          {% else %}
                            <a class="btn btn-outline-secondary btn-sm" href="/accounts/login">{%  trans "Log in" %}</a>
                          {% endif %}
                      </div>
            </div>
        </nav>
    </header>
{% block content %}


{% endblock %}

    <footer class="page-footer">
        <div class="container">
            <div class="">
                <div class="text-left ml-3 mb-3">
                    <p class="d-inline">2020</p>
                    <p class="d-inline"><a href="https://www.paypal.me/kamilsj" target="_blank">donate</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://mountiangrip.s3.amazonaws.com/assets/js/parallax.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124583577-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124583577-1');
    </script>

</body>
</html>