{% extends 'main.html' %}
{% load i18n %}
{% load add_func %}
{% block title %}{% trans 'Start searching for people' %} {% endblock %}

{% block content %}
    <div class="page-background-main">
        <div class="container">
            <div class="row mt-5">
                <div class="col col-lg-7">

                </div>
                <div class="col col-lg-5">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-2 d-none d-sm-none d-md-none d-lg-block">

            </div>
            <div class="col-md-8">
                    {% for trip in data.trips %}
                    <div id="trip{{ trip.id }}" class="row border border-dark rounded"

                        {% if trip.cover.url %}
                            style="background-image: url({{ trip.cover.url }}); background-size: cover; background-position: center center;"
                        {% else %}

                        {% endif %} >

                        <div class="row">
                                {% show_avatar trip.user.id %}

                            <div class="col"><a class="badge badge-light" href="/start/trip/{{ trip.id }}">{{ trip.title }}</a> <br/>
                                <p class="badge badge-light"><a href="/start/q/?what={{ trip.basePlace }}"> {{ trip.basePlace }} </a><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                                </svg><a href="/start/q/?what={{ trip.mountainName }}"> {{ trip.mountainName }} </a></p><br>
                                <p class="badge text-wrap badge-info">{{ trip.startDate }} <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                            </svg> {{ trip.endDate }}</p></div>
                        </div>
                    </div>
                        <br>
                    {% endfor %}
            </div>
            <div class="col-sm-2 d-none d-sm-none d-md-none d-lg-block">
                <p></p>
            </div>
        </div>
    </div>

{% endblock %}
