{% extends 'main.html' %}
{% load i18n %}
{% block title %}Start searching for people {% endblock %}

{% block content %}
    <div class="page-background-main">
        <div class="container">
            <div class="row mt-5">
                <div class="col col-lg-7">
                    Kamil
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col col-sm-2">
                HELLO 1
            </div>
            <div class="col col-lg-7">
                <div class="">
                    {% for trip in data.trips %}
                    <div id="trip{{ trip.id }}">
                        <a href="/start/trip/{{ trip.id }}">{{ trip.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-sm-3">
                HELLO 3
            </div>
        </div>
    </div>

{% endblock %}
