{% extends 'main.html' %}
{% load i18n %}
{% block title %}{% blocktrans %}Groups - Mountain Grip{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%;">
      {% if form.errors %}
          <div class="d-flex justify-content-center align-items-center">
              <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors  %}
                  {{ error|escape }}
                  {% endfor %}
                  {% for error in form.errors  %}
                  {{ error|escape }}
                  {% endfor %}
              </div>
          </div>
      {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <input type="text" size="40" id="id_name" name="name" class="form-control form-control-lg" maxlength="256" placeholder="{% trans 'Group name'  %}" required/><br />
                    <textarea type="text" size="40" id="id_description" name="description" class="form-control" maxlength="4096" placeholder="Description"></textarea><br />
                    <div class="mb-3">
                        <input type="file" class="form-control" id="id_pic" name="pic" />
                    </div>
                    <div class="form-check form-switch mb-5">
                      <input type="checkbox" class="form-check-input" id="id_private" name="private" value="1" />
                      <label class="form-check-label" for="id_private">{% trans 'Private group' %}</label>
                    </div>
                    <div class="text-center"><button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Add" %}</button></div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}