{% extends 'main.html' %}
{% load i18n %}
{% load add_func %}
{% load humanize %}
{% block title %}{{ data.thread.name }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px;">
    {% if data.nogroup == 1 %}
        <div class="d-flex mt-5 justify-content-center"><div class="alert alert-danger" role="alert">{% trans "Group does not exist." %}</div></div>
    {% else %}

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
            <a href="/groups/create/" class="btn btn-outline-primary btn-sm">{% trans 'Create a group' %}</a>
            <a class="btn btn-outline-primary  btn-sm" href="#id_text">{% trans 'Add a post' %}</a>
        </div>
    </div>
    <div class="d-flex justify-content-left mt-5">
        <h5>
            <button type="button" onclick="location.href='/groups/{{ data.thread.group.id }}/'" class="btn btn-white" href="/groups/{{ data.group.id }}/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"></path></svg>
            </button>
            {{ data.thread.name }}
        </h5>
    </div>
    <div class="d-flex mt-1">
        {% if data.followed %}
            <button type="button" class="btn btn-outline-primary btn-sm" disabled>{% trans 'Unfollow' %}</button>
        {% else %}
           <button onclick="followthread({{ data.thread.id }})" id="follow_thread" class="btn btn-sm btn-light">{% trans 'Follow thread' %}</button>
        {% endif %}   
    </div>
    <div class="d-flex flex-column list-group mt-5">
        {% for post in data.posts %}
        <div class="list-group-item list-group-item-light w-100">
            <div class="d-inline">
                <span>{% show_avatar_small post.user.id %}</span>
                <small class="badge bg-light text-wrap text-dark">{{ post.added_at|naturaltime }}</small><br>
            </div>                
            <div class="mt-2"><small>{{ post.text|linebreaks|safe }}</small></div>
            <div class="d-flex mt-3">
                <section data-featherlight-gallery data-featherlight-filter="a">
                {% for pic in data.pics %}
                    {% if pic.post.id == post.id %}
                        <a href="{{ pic.pic.url }}"><img src="{{ pic.pic.url }}"  class="img-fluid" style="height: 50px;" /></a>
                    {% endif %}
                {% endfor %}
                </section>
            </div>

        </div>

        {% endfor %}
        <form method="post" enctype="multipart/form-data">
        <div class="d-flex mt-4">
                {% csrf_token %}
                <div class="p-2">{% show_avatar_small data.user.id %}</div>
                <input type="hidden" id="id_thread" name="thread" value="{{ data.thread.id }}">
                <input type="hidden" id="id_group" name="group" value="{{ data.thread.group.id }}">
                <div class="flex-fill">
                    <textarea class="border rounded w-100" id="id_text" name="text" required></textarea>
                    <input type="file" class="form-control" id="id_pic" name="pic" multiple />
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
            <div class="p-2"><button type="submit" class="btn btn-dark">{% trans 'Submit' %}</button></div>
        </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}