{% extends 'main.html' %}
{% load i18n %}
{% load humanize %}
{% block title %}{% blocktrans %}{{ data.group.name }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px;">
    {% if data.nogroup == 1 %}
        <div class="row mt-5 justify-content-center"><div class="alert alert-danger" role="alert">{% trans "Group does not exist." %}</div></div>
    {% else %}

    <div class="row">
        <div style="margin-left: 110px;"></div>
        <div class="col">
            <a href="/groups/create/" class="btn btn-secondary btn-sm">{% trans 'Create group' %}</a>
            <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#showaddthread" role="button" aria-expanded="false" aria-controls="showaddthread">{% trans 'Add a thread' %}</a>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col">
            <div class="collapse multi-collapse" id="showaddthread">
                <div class="card card-body">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" id="id_group" name="group" value="{{ data.group.id }}">
                      <div class="form-row align-items-center">
                        <div class="col-3">
                          <input type="text" id="id_name" name="name" class="form-control form-control-sm" placeholder="{% trans 'Title' %}" required>
                        </div>
                        <div class="col-8">
                          <textarea type="text" id="id_description" name="description" class="form-control form-control-sm" placeholder="{% trans 'First post' %}" required></textarea>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-sm" type="submit">{% trans 'Submit' %}</button>
                        </div>
                      </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-5">
        <div class="col">
            <div class="d-flex">
                <h4 ><b class="badge badge-dark">{{ data.group.name }}</b><br>
                <small>{{ data.group.description }}</small>
                </h4>

            </div>

        </div>

    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="list-group list-group-flush ">
            {% for thread in data.threads %}
            <a href="/groups/{{ data.group.id }}/{{ thread.id }}/" class="list-group-item list-group-item-action flex-column align-items-start border-bottom border-secondary">
                <div class="d-flex w-100 justify-content-between">
                    <p>{{ thread.name }}</p>
                    <small>{{ thread.added_at|naturaltime }}</small>
                </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}